*.built
*.unpacked
*.patched
*.tar.*z*
ndk.setup
libs.updated
LibvirtDroid/libs/*
LibvirtDroid/bin
LibvirtDroid/gen
LibvirtDroid/local.properties
LibvirtDroid/.classpath
LibvirtDroid/.project
libgcrypt-1.6.2
libgpg-error-1.16
libnl-3.2.25
libssh2-1.4.3
libvirt-1.2.9
libxml2-2.9.1
portablexdr-4.9.1
jna-4.1.0
libvirt-java-0.5.1/
